@import "./styles/imports";

body{
    margin: 0 !important;
}

.content {
  position: relative;
  margin: -8px;
  min-height: 100vh;
  background-color: $background;
  color: $on-background;
  font-family: Arial, Helvetica, sans-serif;
  &__wrap {
    padding-bottom: 36px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
