$primary:#BB86FC;
$primary-variant:#3700B3;
$secondary:#03DAC6;
$background:#121212;
$error:#CF6679;
$on-primary:#000000;
$on-primary-variant:#BB86FC;
$on-secondary:#000000;
$on-background:#FFFFFF;
$on-error:#000000;