<div class="form">
  <h2 class="form__header">Sign Up</h2>
  <form class="form__container" (ngSubmit)="signUp()" [formGroup]="userSignUpForm">
    <label for="email" class="form__label">
      <input formControlName="email" type="text" placeholder="Email" />
    </label>
    <label for="password" class="form__label">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </label>
    <input class="btn__form" type="submit" value="Sign In" />
  </form>
</div>
