@import '../../../../styles/imports';
.form{
    width: 100%;
    display: flex;
    margin-top:10%;
    flex-direction: column;
    align-items: center;
    &__container{
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid $primary;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__label{
        margin-bottom: 1rem;
    }
}

.btn{
    &__form{
        padding: 0.5rem;
        background-color: $primary-variant;
        color: $on-primary-variant;
        border-radius: 0.5rem;
        border: 0.2rem solid $primary;
        cursor: pointer;
    }
}