@import "../../../../styles/imports";

a:link{
  text-decoration: none;
}
a:active{
  color: $on-primary;
}

.header {
  background-color: $primary;
  color: $on-primary;
  width: 100%;
  padding: 0.5rem, 1rem;
  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__link {
    margin-left: 0.5rem;
  }
}
