<div class="header">
    <div class="header__nav">
        <div class="header__logo">
            <span class="header__todo">Todo-App</span>
        </div>
        <ul class="header__list">
            <li class="header__link">
                <a routerLink='/home' >Home</a>
            </li>
            <li class="header__link">
                <a routerLink='/groups' >Groups</a>
            </li>
        </ul>
        <div class="header__sign">
            <ul class="header__list">
                <ng-container *ngIf="!this.authService.loggedIn()" else loggedIn>
                    <li class="header__link">
                        <a routerLink='/signin' >Sign in</a>
                    </li>
                    <li class="header__link">
                        <a routerLink='/signup' >Sign up</a>
                    </li>
                </ng-container>
                <ng-template [ngIf]="this.authService.loggedIn()">
                    <li class="header__link">
                        <a style="cursor: pointer" (click)="this.authService.logout()" >logout</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>